# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data
file_path = Path("Resources/LoanStats_2019Q1.csv")
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [5]:
df.dtypes

loan_amnt                     float64
int_rate                      float64
installment                   float64
home_ownership                 object
annual_inc                    float64
                               ...
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
hardship_flag                  object
debt_settlement_flag           object
Length: 86, dtype: object

In [6]:
df["home_ownership"].count

<bound method Series.count of 0            RENT
1        MORTGAGE
2        MORTGAGE
3            RENT
4        MORTGAGE
           ...
68812        RENT
68813        RENT
68814    MORTGAGE
68815    MORTGAGE
68816    MORTGAGE
Name: home_ownership, Length: 68817, dtype: object>

In [7]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
# Creating an instance of label encoder
label_encoder = LabelEncoder()

In [8]:
# Fitting the label encoder
label_encoder.fit(df["home_ownership"])

LabelEncoder()

In [9]:
# List the classes identified by the label encoder
list(label_encoder.classes_)

['ANY', 'MORTGAGE', 'OWN', 'RENT']

In [10]:
# Encode the months as an integer
df["home_ownership_le"] = label_encoder.transform(df["home_ownership"])
df.tail()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,home_ownership_le
68812,10000.0,0.1502,346.76,RENT,26000.0,Source Verified,Jan-2019,low_risk,n,9.60,...,0.0,0.0,0.0,20625.0,6798.0,11300.0,5425.0,N,N,3
68813,12000.0,0.2727,368.37,RENT,63000.0,Not Verified,Jan-2019,low_risk,n,29.07,...,0.0,0.0,0.0,87939.0,60350.0,13500.0,62939.0,N,N,3
68814,5000.0,0.1992,185.62,MORTGAGE,52000.0,Source Verified,Jan-2019,low_risk,n,14.86,...,0.0,1.0,0.0,30592.0,18611.0,3600.0,18492.0,N,N,1
68815,40000.0,0.0646,1225.24,MORTGAGE,520000.0,Verified,Jan-2019,low_risk,n,9.96,...,12.5,0.0,0.0,1033574.0,95958.0,100800.0,78634.0,N,N,1
68816,16000.0,0.1131,350.36,MORTGAGE,72000.0,Verified,Jan-2019,low_risk,n,7.02,...,0.0,1.0,0.0,251486.0,74835.0,23000.0,63090.0,N,N,1

In [11]:
label_encoder.fit(df["initial_list_status"])

LabelEncoder()

In [12]:
list(label_encoder.classes_)

['f', 'w']

In [13]:
# Encode the months as an integer
df["initial_list_status_le"] = label_encoder.transform(df["initial_list_status"])
df.tail()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,home_ownership_le,initial_list_status_le
68812,10000.0,0.1502,346.76,RENT,26000.0,Source Verified,Jan-2019,low_risk,n,9.60,...,0.0,0.0,20625.0,6798.0,11300.0,5425.0,N,N,3,1
68813,12000.0,0.2727,368.37,RENT,63000.0,Not Verified,Jan-2019,low_risk,n,29.07,...,0.0,0.0,87939.0,60350.0,13500.0,62939.0,N,N,3,1
68814,5000.0,0.1992,185.62,MORTGAGE,52000.0,Source Verified,Jan-2019,low_risk,n,14.86,...,1.0,0.0,30592.0,18611.0,3600.0,18492.0,N,N,1,1
68815,40000.0,0.0646,1225.24,MORTGAGE,520000.0,Verified,Jan-2019,low_risk,n,9.96,...,0.0,0.0,1033574.0,95958.0,100800.0,78634.0,N,N,1,0
68816,16000.0,0.1131,350.36,MORTGAGE,72000.0,Verified,Jan-2019,low_risk,n,7.02,...,1.0,0.0,251486.0,74835.0,23000.0,63090.0,N,N,1,1

In [14]:
label_encoder.fit(df["issue_d"])

LabelEncoder()

In [15]:
list(label_encoder.classes_)

['Feb-2019', 'Jan-2019', 'Mar-2019']

In [16]:
# Encode the months as an integer
df["issue_d_le"] = label_encoder.transform(df["issue_d"])
df.tail()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,home_ownership_le,initial_list_status_le,issue_d_le
68812,10000.0,0.1502,346.76,RENT,26000.0,Source Verified,Jan-2019,low_risk,n,9.60,...,0.0,20625.0,6798.0,11300.0,5425.0,N,N,3,1,1
68813,12000.0,0.2727,368.37,RENT,63000.0,Not Verified,Jan-2019,low_risk,n,29.07,...,0.0,87939.0,60350.0,13500.0,62939.0,N,N,3,1,1
68814,5000.0,0.1992,185.62,MORTGAGE,52000.0,Source Verified,Jan-2019,low_risk,n,14.86,...,0.0,30592.0,18611.0,3600.0,18492.0,N,N,1,1,1
68815,40000.0,0.0646,1225.24,MORTGAGE,520000.0,Verified,Jan-2019,low_risk,n,9.96,...,0.0,1033574.0,95958.0,100800.0,78634.0,N,N,1,0,1
68816,16000.0,0.1131,350.36,MORTGAGE,72000.0,Verified,Jan-2019,low_risk,n,7.02,...,0.0,251486.0,74835.0,23000.0,63090.0,N,N,1,1,1

In [17]:
# howeowner dictionary
home_ownership_num = {
    "ANY": 0,
    "MORTGAGE": 1,
    "OWN": 2,
    "RENT": 3,
}

In [18]:
# howeowner' names encoded using the dictionary values
df["home_ownership_num"] = df["home_ownership"].apply(lambda x: home_ownership_num[x])
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,home_ownership_le,initial_list_status_le,issue_d_le,home_ownership_num
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,65687.0,38199.0,2000.0,61987.0,N,N,3,1,2,3
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,271427.0,60641.0,41200.0,49197.0,N,N,1,1,2,1
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,60644.0,45684.0,7500.0,43144.0,N,N,1,1,2,1
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,99506.0,68784.0,19700.0,76506.0,N,N,3,1,2,3
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,219750.0,25919.0,27600.0,20000.0,N,N,1,1,2,1

In [19]:
# Dropping month and month_le columns
df.drop(["home_ownership", "home_ownership_le", "initial_list_status", "issue_d"], axis=1, inplace=True)
df.head(20)

,loan_amnt,int_rate,installment,annual_inc,verification_status,loan_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,...,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,initial_list_status_le,issue_d_le,home_ownership_num
0,10500.0,0.1719,375.35,66000.0,Source Verified,low_risk,n,27.24,0.0,0.0,...,0.0,65687.0,38199.0,2000.0,61987.0,N,N,1,2,3
1,25000.0,0.2000,929.09,105000.0,Verified,low_risk,n,20.23,0.0,0.0,...,0.0,271427.0,60641.0,41200.0,49197.0,N,N,1,2,1
2,20000.0,0.2000,529.88,56000.0,Verified,low_risk,n,24.26,0.0,0.0,...,0.0,60644.0,45684.0,7500.0,43144.0,N,N,1,2,1
3,10000.0,0.1640,353.55,92000.0,Verified,low_risk,n,31.44,0.0,1.0,...,0.0,99506.0,68784.0,19700.0,76506.0,N,N,1,2,3
4,22000.0,0.1474,520.39,52000.0,Not Verified,low_risk,n,18.76,0.0,1.0,...,0.0,219750.0,25919.0,27600.0,20000.0,N,N,1,2,1
5,25000.0,0.1797,634.43,90000.0,Source Verified,low_risk,n,18.49,1.0,1.0,...,0.0,550717.0,418934.0,18800.0,369051.0,N,N,1,2,1
6,20400.0,0.2000,540.48,51315.0,Source Verified,low_risk,n,25.63,0.0,2.0,...,0.0,40023.0,23469.0,3500.0,27523.0,N,N,1,2,3
7,10000.0,0.1557,349.46,66000.0,Source Verified,low_risk,n,9.00,0.0,0.0,...,0.0,29300.0,22377.0,8400.0,12500.0,N,N,1,2,2
8,14000.0,0.0881,443.96,45000.0,Not Verified,low_risk,n,10.24,0.0,1.0,...,0.0,25100.0,9724.0,12100.0,3000.0,N,N,0,2,3
9,10000.0,0.1474,345.39,63295.0,Verified,low_risk,n,39.34,0.0,0.0,...,0.0,119822.0,102924.0,15300.0,80722.0,N,N,1,2,3
10,8500.0,0.0819,267.11,75000.0,Not Verified,low_risk,n,17.31,0.0,2.0,...,0.0,75000.0,57756.0,18000.0,57000.0,N,N,1,2,3
11,10000.0,0.1171,330.76,54000.0,Not Verified,low_risk,n,21.49,0.0,2.0,...,0.0,152500.0,42343.0,85000.0,65500.0,N,N,1,2,3
12,30000.0,0.1033,642.30,100000.0,Source Verified,low_risk,n,8.00,0.0,0.0,...,0.0,50200.0,17323.0,29200.0,20000.0,N,N,1,2,1
13,15800.0,0.1640,387.60,62000.0,Source Verified,low_risk,n,8.44,0.0,1.0,...,0.0,195700.0,18726.0,15900.0,4100.0,N,N,1,2,1
14,18000.0,0.1557,433.63,60000.0,Verified,low_risk,n,62.80,0.0,0.0,...,0.0,196496.0,170509.0,10200.0,73796.0,N,N,1,2,1
15,40000.0,0.2250,1537.99,54000.0,Verified,low_risk,n,59.09,0.0,0.0,...,0.0,123858.0,107194.0,19100.0,64858.0,N,N,1,2,1
16,14400.0,0.1390,491.46,100350.0,Source Verified,low_risk,n,30.42,0.0,2.0,...,0.0,156028.0,104873.0,49000.0,88928.0,N,N,1,2,3
17,9600.0,0.0881,304.43,92000.0,Not Verified,low_risk,n,20.01,0.0,0.0,...,0.0,58335.0,43218.0,6300.0,46535.0,N,N,1,2,3
18,16000.0,0.1719,399.28,72500.0,Source Verified,low_risk,n,17.00,0.0,0.0,...,0.0,217738.0,52114.0,8500.0,49727.0,N,N,1,2,1
19,20000.0,0.0756,622.68,175000.0,Not Verified,low_risk,n,11.28,0.0,0.0,...,0.0,84966.0,65106.0,20500.0,55785.0,N,N,1,2,3

In [20]:
# Binary encoding using Pandas (single column)
LoanStats_encoded = pd.get_dummies(df)
LoanStats_encoded.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,loan_status_high_risk,loan_status_low_risk,pymnt_plan_n,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,0,0,1,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,0,1,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,0,1,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,0,1,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,0,0,1,1,0,1,1,0,1,1

In [21]:
# Saving the encoded dataset
file_path = Path("Resources/loanStats_encoded.csv")
LoanStats_encoded.to_csv(file_path, index=False)

## Split the Data into Training and Testing

In [22]:
# Create our features
X = df.drop(columns="loan_status")
X = pd.get_dummies(X)
# Create our target
y = df["loan_status"]

In [23]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,pymnt_plan_n,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.478007,0.373992,0.148001,1.0,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.499520,0.483865,0.355104,0.0,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,0.000000,0.000000,1.0,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,1.000000,1.000000,0.000000,1.0,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [24]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [25]:
X.dtypes

loan_amnt                      float64
int_rate                       float64
installment                    float64
annual_inc                     float64
dti                            float64
                                ...
next_pymnt_d_May-2019            uint8
application_type_Individual      uint8
application_type_Joint App       uint8
hardship_flag_N                  uint8
debt_settlement_flag_N           uint8
Length: 89, dtype: object

In [26]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(51612, 89)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [27]:
# Create the StandardScaler instance
from sklearn.preprocessing import LabelEncoder, StandardScaler
data_scaler = StandardScaler()

In [28]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = data_scaler.fit(X_train)

In [29]:
# Scale the training and testing data
X_train_scaler= X_scaler.transform(X_train)
X_test_scaler = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [30]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brf.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [31]:
# Calculated the balanced accuracy score
y_pred = brf.predict(X_test_scaler)
balanced_accuracy_score(y_test,y_pred)

0.5

In [32]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[   87,     0],
       [17118,     0]])

In [33]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      1.00      0.00      0.01      0.00      0.00        87
   low_risk       0.00      0.00      1.00      0.00      0.00      0.00     17118

avg / total       0.00      0.01      0.99      0.00      0.00      0.00     17205

In [34]:
# List the features sorted in descending order by feature importance
# YOUR CODE HERE

### Easy Ensemble Classifier

In [35]:
# Train the Classifier
# YOUR CODE HERE

In [36]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

In [37]:
# Display the confusion matrix
# YOUR CODE HERE

In [38]:
# Print the imbalanced classification report
# YOUR CODE HERE

### Final Questions

1. Which model had the best balanced accuracy score?

    YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.

4. What are the top three features?

    YOUR ANSWER HERE.